@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-[#1C2442] text-white bg-hero-pattern bg-cover bg-no-repeat;
}

.button {
  border-radius: 100rem;
  padding: 8px 16px;
  box-shadow: 0px 4px 15px 0px rgba(43, 43, 43, 0.25);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #9945FF, #14F195);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #151726 inset;
}

.border{
  box-shadow: 0px 4px 15px 0px rgba(43, 43, 43, 0.25);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #9945FF, #14F195);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #151726 inset;
}